<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoSqlClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DemoSqlClient.Properties.Settings>
            <setting name="DemoSqlClient_SqlService_SqlService" serializeAs="String">
                <value>http://localhost:3830/COR-Basic/SoapApi/SqlService.asmx</value>
            </setting>
        </DemoSqlClient.Properties.Settings>
    </applicationSettings>
</configuration>